.header {
    position: fixed;
    height: 50px;
    background: white;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    border-bottom: solid;
}

.name {
    position: fixed;
    font-size: 20pt;
    margin-top: 5px;
    margin-left: 10px;
}

.searchbar {
    position: fixed;
    top: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    color: darkgrey;
    left: 40%;
}

.searchbar img {
    margin-left: 10px;
    mix-blend-mode: multiply;
    height: 50%;
    position: relative;
    left: 20px;
}

.images {
    padding: 15px;
}

.container {
    margin-top: 20px;
}

.col-sm {
    padding: 50px;
}

.col-sm img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.col-sm img:hover {
    padding: 10px;
}

.holderpage {
    position: fixed;
    display: none;
    left:434px;
    top:90px;
    justify-content: center;
    width: 100%;
}

.close {
    position: fixed;
    top: 40px;
    right: 0px;
    color:black;
    font-size: 50px;
    cursor: pointer;
}

.left {
    position: fixed;
    top: 350px;
    left: 0px;
    color:black;
    font-size: 50px;
    cursor: pointer;
}

.right {
    position: fixed;
    top: 350px;
    right: 0px;
    color:black;
    font-size: 50px;
    cursor: pointer;
}




